/*===============================================================================
タイトル
================================================================================*/
.c-line-title {
	position: relative;
	text-align: center;
	font-family: var(--ff-m);
	font-size: 2.5rem;
	color: var(--color_accent);
}

.c-line-title::after {
	content: '';
	display: block;
	width: 60px;
	height: 3px;
	margin: 1.25rem auto 0;
	background: var(--color_main);
}

/*===============================================================================
自動折り返しテキスト
================================================================================*/
.c-autoWrap>* {
	display: inline-block;
}

/*===============================================================================
注釈テキスト
================================================================================*/
.c-note {
	display: flex;
}

.c-note::before {
	content: "※";
}

.c-note.--inline {
	display: inline-flex;
}

/*===============================================================================
縦書きテキスト
================================================================================*/
.c-vertical {
	min-height: max-content;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}