/*===============================================================================
タイトル
================================================================================*/

/*===============================================================================
自動折り返しテキスト
================================================================================*/
.c-autoWrap>* {
	display: inline-block;
}

/*===============================================================================
注釈テキスト
================================================================================*/
.c-note {
	display: flex;
}

.c-note::before {
	content: "※";
}

.c-note.--inline {
	display: inline-flex;
}

/*===============================================================================
縦書きテキスト
================================================================================*/
.c-vertical {
	min-height: max-content;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}