.l-sectionHeader {
    margin-bottom: var(--g-sec--md);
    text-align: center;
}

.l-sectionHeader.--left {
    text-align: left;
}

.l-sectionLabel {
    margin-bottom: 1.5rem;
}

/*===============================================================================
Section Header
================================================================================*/
.c-label {
    display: block;
    font-family: var(--ff-g);
    font-size: 0.875rem;
    font-weight: var(--fw-md);
    letter-spacing: 0.3em;
    color: var(--c-gray);
    text-transform: uppercase;
}

.c-title {
    line-height: var(--lh-sm);
    font-family: var(--ff-m);
    font-size: clamp(1.75rem, 0.679rem + 2.86vw, 3.25rem);
    color: var(--c-sub);
}

.c-title.--size-lg {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: var(--fw-sm);
}

.c-title.--light {
    color: var(--c-light);
}

/* Button
--------------------------------------------------------------------------------*/
.c-btn {
    display: inline-block;
    padding: 1.25rem 3rem;
    background: var(--c-act02);
    border: 1px solid var(--c-act02);
    letter-spacing: 0.1em;
    font-family: var(--ff-g);
    font-size: 0.875rem;
    font-weight: var(--fw-md);
    color: var(--c-light);
    text-decoration: none;
    transition: var(--ani-t--normal) ease-out;
}

.c-btn:is(:hover, :focus) {
    background-color: transparent;
    border: 1px solid var(--c-act02);
    color: var(--c-act02);
}

/* Link
--------------------------------------------------------------------------------*/
.c-link {
    position: relative;
    display: inline-block;
    padding-bottom: 0.25rem;
    font-family: var(--ff-g);
    font-size: 0.875rem;
    letter-spacing: 0.1em;
    color: var(--c-sub);
    text-decoration: none;
}

.c-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--c-sub);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform var(--ani-t--normal) ease-out;
}

.c-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Utils
--------------------------------------------------------------------------------*/
.c-autoWrap>* {
    display: inline-block;
}

.c-note {
    display: flex;
}

.c-note::before {
    content: "※";
}

.c-vertical {
    min-height: max-content;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}