/*===============================================================================
タイトル
================================================================================*/

/*===============================================================================
セクション見出し
===============================================================================*/
.c-sec-title {
	margin-bottom: 1rem;
	text-align: center;
	letter-spacing: 0.3em;
	font-size: clamp(1.75rem, 1.393rem + 0.95vw, 2.25rem);
	font-weight: var(--fw-lg);
	font-family: var(--ff-m);
	color: var(--c-sub);
}

.c-sec-lead {
	margin-bottom: var(--g-sec--sm);
	text-align: center;
	letter-spacing: 0.2em;
	font-size: 1.1rem;
	font-weight: var(--fw-xs);
	color: var(--c-gray);
}

/*===============================================================================
自動折り返しテキスト
================================================================================*/
.c-autoWrap>* {
	display: inline-block;
}

/*===============================================================================
注釈テキスト
================================================================================*/
.c-note {
	display: flex;
}

.c-note::before {
	content: "※";
}

.c-note.--inline {
	display: inline-flex;
}

/*===============================================================================
縦書きテキスト
================================================================================*/
.c-vertical {
	min-height: max-content;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}