#gameBoard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 1px;
}

.cell {
    width: 50px;
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}
